
	.navbar {
	    margin-bottom: 0;
	    background-color: #34657f;
	    z-index: 9999;
	    border: 0;
	    font-family: 'Bitter', serif;
	    font-size: 12px !important;
	    line-height: 1.42857143 !important;
	    letter-spacing: 4px;
	    border-radius: 0;
	    opacity: 0.8;
	}

	.navbar li a, .navbar .navbar-brand {
	    color: #fff !important;
	}

	.navbar-nav li a:hover, .navbar-nav li.active a {
	    color: #fff !important;
	    /*background-color: #71c5e8 !important;*/
	    background-color: #DAB36E !important;
	    opacity: 1.0;
	}

	.navbar-default .navbar-toggle {
	    border-color: transparent;
	    color: #fff !important;
	}

	#logo {
	background-color: transparent;
	width: 200px;
	height: auto;
	border-radius: 20;
	padding: 1px 25px;
	opacity: 1;
	}

	.logo-small {
	    color: #6cc24a;
	    font-size: 50px;
	}

	.logo {
	    color: #6cc24a;
	    font-size: 200px;
	}
	@media screen and (max-width: 768px) {
	    .col-sm-4 {
	        text-align: center;
	        margin: 25px 0;
	    }
	}
	.jumbotron { 
	    background-color: #34657f;
		font-family: 'Bitter', serif;
	    color: #FFFFFF;
	    padding: 100px 25px;
	    background-image: url("../img/jumbo-crop.jpg");
	    min-height: 650px;
	    -webkit-background-size: 100%;
	    -moz-background-size: 100%;
	    -o-background-size: 100%;
	    background-size: 100%;

	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    /*width="100%" height="auto"*/
	}
	.container-fluid {
	    padding: 60px 50px;
	}
	.bg-grey {
	    background-color: #dde5ed;
	}
	h1 {
		/*font-family: 'Lato', sans-serif;*/
		font-family: 'Bitter', serif;
	}
	h2 {
		/*font-family: 'Lato', sans-serif;*/
		font-family: 'Bitter', serif;
	}
	h4 {
		/*font-family: 'Lato', sans-serif;*/
		font-family: 'Bitter', serif;
	}	
	/*p {
		font-family: 'Bitter', serif;
	}	*/	
	
	footer .glyphicon {
	    font-size: 20px;
	    margin-bottom: 20px;
	    color: #DAB36E;
	}
